@import './variables';

.container {
    width: 70%;
    margin: auto;
}

// Buttons 
.btn {
    display: inline-block;
    text-transform: uppercase;
    border: 5px solid $brand_primary_color;
    font-weight: bold;

    &-blue {
        background-color: $brand_primary_color;
        color: white;
    }

    &-wide {
        padding: 5px 30px;
        font-size: 15px;
    }

    &-regular {
        padding: 10px 15px;
    }
}